* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Lexend Deca', sans-serif; }

a:not([class]) {
  color: darkslategray; }
  a:not([class]):hover {
    color: #1c2f2f; }

.verb-anchor {
  position: absolute;
  top: 1rem; }

.btn--toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 1rem;
  text-transform: lowercase;
  top: 1rem;
  z-index: 200; }
  .btn--toggle:focus {
    outline: solid 4px black; }
  .menu-active .btn--toggle {
    color: white; }
    .menu-active .btn--toggle:focus {
      color: yellow;
      outline-color: yellow; }

.menu {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  display: none;
  grid-template: repeat(6, 1fr)/repeat(3, 1fr);
  height: 100%;
  padding: 4rem 0.5rem;
  place-items: center;
  width: 100%;
  z-index: 100; }
  .menu-active .menu {
    display: grid; }

.menu-item,
.menu-item-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%; }

.menu-item-link {
  color: white;
  font-size: 4vmin;
  text-decoration: none; }
  .menu-item-link:focus {
    color: yellow;
    outline: solid 4px yellow; }

.project-info {
  bottom: 0;
  margin: auto;
  font-size: 0.7rem;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out; }
  @media (hover: hover) {
    .project-info {
      opacity: 0.25; } }
  .project-info:hover {
    opacity: 1; }
  .project-info a {
    display: inline-block;
    padding: 0.5rem; }

.container {
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch; }

.headline {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: calc(0.8rem + 15vmin);
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  scroll-snap-align: start;
  width: 100vw; }
  .headline:focus {
    outline: none; }
  .headline:nth-child(1) {
    --color: #f9ca24; }
  .headline:nth-child(2) {
    --color: #3498db; }
  .headline:nth-child(3) {
    --color: #ff7979; }
  .headline:nth-child(4) {
    --color: #1abc9c; }
  .headline:nth-child(5) {
    --color: #e74c3c; }
  .headline:nth-child(6) {
    --color: #f8c291; }
  .headline:nth-child(7) {
    --color: #e74c3c; }
  .headline:nth-child(8) {
    --color: #f5f6fa; }
  .headline:nth-child(9) {
    --color: #48dbfb; }
  .headline:nth-child(10) {
    --color: #9980FA; }
  .headline:nth-child(11) {
    --color: #F79F1F; }
  .headline:nth-child(12) {
    --color: #f8c291; }
  .headline:nth-child(13) {
    --color: #fad390; }
  .headline:nth-child(14) {
    --color: #38ada9; }
  .headline:nth-child(15) {
    --color: #f7f1e3; }
  .headline:nth-child(16) {
    --color: #ff5252; }
  .headline:nth-child(17) {
    --color: #d1ccc0; }
  .headline:nth-child(18) {
    --color: #34ace0; }

.word,
.char {
  -webkit-animation-delay: var(--del);
  animation-delay: var(--del);
  -webkit-animation-direction: var(--dir, normal);
  animation-direction: var(--dir, normal);
  -webkit-animation-duration: var(--dur);
  animation-duration: var(--dur);
  -webkit-animation-iteration-count: var(--it, infinite);
  animation-iteration-count: var(--it, infinite);
  -webkit-animation-name: var(--name);
  animation-name: var(--name);
  -webkit-animation-timing-function: var(--tf);
  animation-timing-function: var(--tf);
  -webkit-animation-fill-mode: var(--fill, forwards);
  animation-fill-mode: var(--fill, forwards);
  display: inline-block;
  position: relative;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  z-index: 1; }

.headline--fall .char {
  --name: fall;
  --dur: 600ms;
  --del: calc(var(--char-index) * -0.05s);
  --tf: cubic-bezier(0.165, 0.44, 0.64, 1); }

@-webkit-keyframes fall {
  0% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); }
  25% {
    -webkit-transform: translateY(2%) rotateY(25deg);
    transform: translateY(2%) rotateY(25deg); }
  50% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); }
  75% {
    -webkit-transform: translateY(4%) rotateY(25deg);
    transform: translateY(4%) rotateY(25deg); }
  100% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); } }

@keyframes fall {
  0% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); }
  25% {
    -webkit-transform: translateY(2%) rotateY(25deg);
    transform: translateY(2%) rotateY(25deg); }
  50% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); }
  75% {
    -webkit-transform: translateY(4%) rotateY(25deg);
    transform: translateY(4%) rotateY(25deg); }
  100% {
    -webkit-transform: rotateY(-25deg);
    transform: rotateY(-25deg); } }

.headline--flip .char {
  --name: flip;
  --dur: 4000ms;
  --del: calc(var(--char-index) * 0.075s);
  --tf: linear; }

@-webkit-keyframes flip {
  5% {
    -webkit-transform: rotateX(1turn);
    transform: rotateX(1turn); }
  10% {
    -webkit-transform: rotateX(2turn);
    transform: rotateX(2turn); }
  20% {
    -webkit-transform: rotateX(3turn);
    transform: rotateX(3turn); }
  40% {
    -webkit-transform: rotateX(4turn);
    transform: rotateX(4turn); }
  70%, 100% {
    -webkit-transform: rotateX(5turn);
    transform: rotateX(5turn); } }

@keyframes flip {
  5% {
    -webkit-transform: rotateX(1turn);
    transform: rotateX(1turn); }
  10% {
    -webkit-transform: rotateX(2turn);
    transform: rotateX(2turn); }
  20% {
    -webkit-transform: rotateX(3turn);
    transform: rotateX(3turn); }
  40% {
    -webkit-transform: rotateX(4turn);
    transform: rotateX(4turn); }
  70%, 100% {
    -webkit-transform: rotateX(5turn);
    transform: rotateX(5turn); } }

.headline--float .char {
  --name: float;
  --dur: 2200ms;
  --del: calc(var(--char-index) * -0.5s);
  --tf: ease-in-out;
  --dir: alternate; }
  .headline--float .char:nth-child(2n) {
    --name: float-alt; }

@-webkit-keyframes float {
  from {
    -webkit-transform: translate(2%, -10%) rotate(-1deg);
    transform: translate(2%, -10%) rotate(-1deg); }
  to {
    -webkit-transform: translate(-2%, 5%) rotate(3deg);
    transform: translate(-2%, 5%) rotate(3deg); } }

@keyframes float {
  from {
    -webkit-transform: translate(2%, -10%) rotate(-1deg);
    transform: translate(2%, -10%) rotate(-1deg); }
  to {
    -webkit-transform: translate(-2%, 5%) rotate(3deg);
    transform: translate(-2%, 5%) rotate(3deg); } }

@-webkit-keyframes float-alt {
  from {
    -webkit-transform: translate(0%, -5%) rotate(-1deg);
    transform: translate(0%, -5%) rotate(-1deg); }
  to {
    -webkit-transform: translate(2%, 10%) rotate(3deg);
    transform: translate(2%, 10%) rotate(3deg); } }

@keyframes float-alt {
  from {
    -webkit-transform: translate(0%, -5%) rotate(-1deg);
    transform: translate(0%, -5%) rotate(-1deg); }
  to {
    -webkit-transform: translate(2%, 10%) rotate(3deg);
    transform: translate(2%, 10%) rotate(3deg); } }

.headline--jog .char {
  --name: jog;
  --dur: 500ms;
  --del: calc(var(--char-index) * -0.025s);
  --tf: linear; }

@-webkit-keyframes jog {
  0% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg); }
  25% {
    -webkit-transform: translate(5%, -5%) rotate(10deg);
    transform: translate(5%, -5%) rotate(10deg); }
  50% {
    -webkit-transform: translate(5%, 0) rotate(15deg);
    transform: translate(5%, 0) rotate(15deg); }
  75% {
    -webkit-transform: translate(10%, -5%) rotate(10deg);
    transform: translate(10%, -5%) rotate(10deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg); } }

@keyframes jog {
  0% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg); }
  25% {
    -webkit-transform: translate(5%, -5%) rotate(10deg);
    transform: translate(5%, -5%) rotate(10deg); }
  50% {
    -webkit-transform: translate(5%, 0) rotate(15deg);
    transform: translate(5%, 0) rotate(15deg); }
  75% {
    -webkit-transform: translate(10%, -5%) rotate(10deg);
    transform: translate(10%, -5%) rotate(10deg); }
  100% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg); } }

.headline--jump .char {
  --name: jump;
  --dur: 800ms;
  --del: calc(var(--char-index) * 0.075s);
  --tf: cubic-bezier(0.165, 0.44, 0.64, 1); }

@-webkit-keyframes jump {
  20% {
    -webkit-transform: translateY(2%) scaleY(0.9);
    transform: translateY(2%) scaleY(0.9); }
  40% {
    -webkit-transform: translateY(-100%) scaleY(1.2);
    transform: translateY(-100%) scaleY(1.2); }
  50% {
    -webkit-transform: translateY(10%) scaleY(0.8);
    transform: translateY(10%) scaleY(0.8); }
  70% {
    -webkit-transform: translateY(-5%) scaleY(1);
    transform: translateY(-5%) scaleY(1); }
  80%, 100% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1); } }

@keyframes jump {
  20% {
    -webkit-transform: translateY(2%) scaleY(0.9);
    transform: translateY(2%) scaleY(0.9); }
  40% {
    -webkit-transform: translateY(-100%) scaleY(1.2);
    transform: translateY(-100%) scaleY(1.2); }
  50% {
    -webkit-transform: translateY(10%) scaleY(0.8);
    transform: translateY(10%) scaleY(0.8); }
  70% {
    -webkit-transform: translateY(-5%) scaleY(1);
    transform: translateY(-5%) scaleY(1); }
  80%, 100% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1); } }

.headline--twirl .char {
  --name: twirl;
  --dur: 6000ms;
  --del: calc(var(--char-index) * 0.025s);
  --tf: linear; }

@-webkit-keyframes twirl {
  2.5% {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn); }
  5% {
    -webkit-transform: rotateY(2turn);
    transform: rotateY(2turn); }
  10% {
    -webkit-transform: rotateY(3turn);
    transform: rotateY(3turn); }
  20% {
    -webkit-transform: rotateY(4turn);
    transform: rotateY(4turn); }
  40% {
    -webkit-transform: rotateY(5turn);
    transform: rotateY(5turn); }
  70%, 100% {
    -webkit-transform: rotateY(6turn);
    transform: rotateY(6turn); } }

@keyframes twirl {
  2.5% {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn); }
  5% {
    -webkit-transform: rotateY(2turn);
    transform: rotateY(2turn); }
  10% {
    -webkit-transform: rotateY(3turn);
    transform: rotateY(3turn); }
  20% {
    -webkit-transform: rotateY(4turn);
    transform: rotateY(4turn); }
  40% {
    -webkit-transform: rotateY(5turn);
    transform: rotateY(5turn); }
  70%, 100% {
    -webkit-transform: rotateY(6turn);
    transform: rotateY(6turn); } }

.headline--fade .char {
  --name: fade;
  --dur: 2s;
  --del: calc(var(--distance-percent) * 0.15s);
  --td: ease-in-out;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; }

@-webkit-keyframes fade {
  50% {
    opacity: 0; } }

@keyframes fade {
  50% {
    opacity: 0; } }

.headline--ghost .char {
  --name: rise;
  --dur: 3s;
  --del: calc(var(--distance-percent) * 0.125s);
  --tf: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }
  .headline--ghost .char:after {
    -webkit-animation: ghost var(--dur) ease-in var(--del) infinite;
    animation: ghost var(--dur) ease-in var(--del) infinite;
    content: attr(data-char);
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    visibility: visible; }

@-webkit-keyframes rise {
  40% {
    -webkit-transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg));
    transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg)); }
  50% {
    -webkit-transform: translateY(6%);
    transform: translateY(6%); }
  55% {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  60% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  65% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%); }
  70% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes rise {
  40% {
    -webkit-transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg));
    transform: translateY(-40%) rotate(calc(var(--distance-sine) * 10deg)); }
  50% {
    -webkit-transform: translateY(6%);
    transform: translateY(6%); }
  55% {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%); }
  60% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%); }
  65% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%); }
  70% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@-webkit-keyframes ghost {
  8% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    opacity: 0.25;
    -webkit-transform: translateY(-30%) rotate(calc(var(--distance-sine) * -10deg));
    transform: translateY(-30%) rotate(calc(var(--distance-sine) * -10deg)); }
  60%, 100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); } }

@keyframes ghost {
  8% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    opacity: 0.25;
    -webkit-transform: translateY(-30%) rotate(calc(var(--distance-sine) * -10deg));
    transform: translateY(-30%) rotate(calc(var(--distance-sine) * -10deg)); }
  60%, 100% {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); } }

.headline--rock .char {
  --name: rock;
  --dur: 2s;
  --td: ease-in-out;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; }

@-webkit-keyframes rock {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg); } }

@keyframes rock {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg); } }

.headline--sail .word {
  --dur: 5s; }
  .headline--sail .word:before, .headline--sail .word:after {
    -webkit-animation: wave var(--dur) linear infinite;
    animation: wave var(--dur) linear infinite;
    background-image: -o-radial-gradient(20px -30px, circle, transparent 40px, var(--color) 41px);
    background-image: radial-gradient(circle at 20px -30px, transparent 40px, var(--color) 41px);
    background-repeat: repeat-x;
    background-size: 40px 100%;
    content: '';
    height: 150%;
    left: 0;
    position: absolute;
    top: 90%;
    width: 200%;
    z-index: 2; }
  .headline--sail .word:after {
    -webkit-animation-duration: calc(var(--dur) * 1.4);
    animation-duration: calc(var(--dur) * 1.4);
    opacity: 0.8;
    top: 70%; }

.headline--sail .char {
  --name: sail;
  --del: calc(var(--char-index) * -0.15s);
  --tf: linear; }

@-webkit-keyframes sail {
  25% {
    -webkit-transform: rotate(-1deg) translateY(2%);
    transform: rotate(-1deg) translateY(2%); }
  50% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0); }
  75% {
    -webkit-transform: rotate(1deg) translateY(1%);
    transform: rotate(1deg) translateY(1%); } }

@keyframes sail {
  25% {
    -webkit-transform: rotate(-1deg) translateY(2%);
    transform: rotate(-1deg) translateY(2%); }
  50% {
    -webkit-transform: rotate(0) translateY(0);
    transform: rotate(0) translateY(0); }
  75% {
    -webkit-transform: rotate(1deg) translateY(1%);
    transform: rotate(1deg) translateY(1%); } }

@-webkit-keyframes wave {
  to {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); } }

@keyframes wave {
  to {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px); } }

.headline--shiver .word {
  --name: shiver;
  --dur: 3s;
  --td: linear; }

.headline--shiver .char {
  --name: shiver-letter;
  --del: calc(var(--char-index) * -0.0125s);
  --dur: 140ms;
  --td: linear; }

@-webkit-keyframes shiver {
  1% {
    -webkit-transform: translateX(2%);
    transform: translateX(2%); }
  2% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  3% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  4% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  5% {
    -webkit-transform: translateX(4%);
    transform: translateX(4%); }
  6% {
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%); }
  7% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  8% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  9% {
    -webkit-transform: translateX(2%);
    transform: translateX(2%); }
  10% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  11% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  12% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes shiver {
  1% {
    -webkit-transform: translateX(2%);
    transform: translateX(2%); }
  2% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  3% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  4% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  5% {
    -webkit-transform: translateX(4%);
    transform: translateX(4%); }
  6% {
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%); }
  7% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  8% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  9% {
    -webkit-transform: translateX(2%);
    transform: translateX(2%); }
  10% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  11% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  12% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes shiver-letter {
  25% {
    -webkit-transform: translateY(1%);
    transform: translateY(1%); }
  50% {
    -webkit-transform: translate(calc(var(--distance-percent) * 1%), calc(var(--distance-percent) * 1%));
    transform: translate(calc(var(--distance-percent) * 1%), calc(var(--distance-percent) * 1%)); }
  75% {
    -webkit-transform: translateY(1%);
    transform: translateY(1%); } }

@keyframes shiver-letter {
  25% {
    -webkit-transform: translateY(1%);
    transform: translateY(1%); }
  50% {
    -webkit-transform: translate(calc(var(--distance-percent) * 1%), calc(var(--distance-percent) * 1%));
    transform: translate(calc(var(--distance-percent) * 1%), calc(var(--distance-percent) * 1%)); }
  75% {
    -webkit-transform: translateY(1%);
    transform: translateY(1%); } }

.headline--yell .char {
  --name: yell;
  --dur: 3s;
  --tf: ease;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

@-webkit-keyframes yell {
  3% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  6% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.2)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.2)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  12% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  18% {
    -webkit-transform: scaleY(1) translateY(-2%);
    transform: scaleY(1) translateY(-2%); }
  25% {
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  75% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98); } }

@keyframes yell {
  3% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  6% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.2)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.2)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  12% {
    -webkit-transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%);
    transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-10%); }
  18% {
    -webkit-transform: scaleY(1) translateY(-2%);
    transform: scaleY(1) translateY(-2%); }
  25% {
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  75% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98); } }

.headline--blink .char {
  --dur: 0.8s;
  --del: calc(var(--char-index) * 0.0125s);
  --name: blink;
  --tf: steps(1, start);
  opacity: 0; }

@-webkit-keyframes blink {
  50% {
    opacity: 1; } }

@keyframes blink {
  50% {
    opacity: 1; } }

.headline--break .char {
  --dur: 2s;
  --name: break-drop;
  --td: ease;
  color: transparent;
  overflow: visible; }
  .headline--break .char:before, .headline--break .char:after {
    color: black;
    visibility: visible; }
  .headline--break .char:before {
    -webkit-animation: break-left var(--dur) linear infinite;
    animation: break-left var(--dur) linear infinite;
    -webkit-clip-path: polygon(55% 0, 50% 25%, 55% 60%, 50% 120%, 0 100%, 0 0);
    clip-path: polygon(55% 0, 50% 25%, 55% 60%, 50% 120%, 0 100%, 0 0);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  .headline--break .char:after {
    -webkit-animation: break-right var(--dur) linear infinite;
    animation: break-right var(--dur) linear infinite;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 44% 120%, 53% 68%, 46% 22%);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 44% 120%, 53% 68%, 46% 22%);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }

@-webkit-keyframes break-drop {
  20% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  22% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  25% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes break-drop {
  20% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  22% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  25% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%); }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes break-left {
  22% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  28% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  30%, 100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@keyframes break-left {
  22% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  28% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  30%, 100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

@-webkit-keyframes break-right {
  22% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  28% {
    -webkit-transform: rotate(10deg) translateY(10%);
    transform: rotate(10deg) translateY(10%); }
  30%, 100% {
    -webkit-transform: rotate(4deg) translateY(5%);
    transform: rotate(4deg) translateY(5%); } }

@keyframes break-right {
  22% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  25% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  28% {
    -webkit-transform: rotate(10deg) translateY(10%);
    transform: rotate(10deg) translateY(10%); }
  30%, 100% {
    -webkit-transform: rotate(4deg) translateY(5%);
    transform: rotate(4deg) translateY(5%); } }

.headline--hide {
  --dur: 4s; }
  .headline--hide .word:after {
    -webkit-animation: hide-cover calc(var(--dur) * 2) ease-out infinite;
    animation: hide-cover calc(var(--dur) * 2) ease-out infinite;
    border-top: 1vmin solid black;
    background-color: var(--color);
    content: '';
    height: 150%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2; }
  .headline--hide .char {
    --name: hide-jump;
    --del: calc(var(--char-index) * 0.04s);
    --td: cubic-bezier(0.215, 0.61, 0.355, 1);
    --dir: alternate;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
    .headline--hide .char[data-char="i"]:after {
      --name: hide-peek;
      --dir: alternate;
      -webkit-animation: var(--name) var(--dur) var(--td) infinite var(--dir);
      animation: var(--name) var(--dur) var(--td) infinite var(--dir);
      content: attr(data-char);
      visibility: visible; }

@-webkit-keyframes hide-jump {
  0%, 10% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  15% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }
  20%, 100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes hide-jump {
  0%, 10% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  15% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }
  20%, 100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes hide-peek {
  0%, 35% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%, 60% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%); }
  70%, 90% {
    -webkit-transform: translateY(-45%) skewY(10deg);
    transform: translateY(-45%) skewY(10deg); }
  95%, 100% {
    -webkit-transform: translateY(-46%) skewY(-10deg);
    transform: translateY(-46%) skewY(-10deg); } }

@keyframes hide-peek {
  0%, 35% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40%, 60% {
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%); }
  70%, 90% {
    -webkit-transform: translateY(-45%) skewY(10deg);
    transform: translateY(-45%) skewY(10deg); }
  95%, 100% {
    -webkit-transform: translateY(-46%) skewY(-10deg);
    transform: translateY(-46%) skewY(-10deg); } }

@-webkit-keyframes hide-cover {
  0%, 7% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  8%, 95% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  98%, 100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

@keyframes hide-cover {
  0%, 7% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  8%, 95% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  98%, 100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); } }

.headline--retreat .word {
  -webkit-animation: retreat-shrink 2s cubic-bezier(0.25, 1, 0.35, 1) infinite;
  animation: retreat-shrink 2s cubic-bezier(0.25, 1, 0.35, 1) infinite;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.headline--retreat .char {
  --name: retreat-stretch;
  --dur: 2s;
  --td: ease-out;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

@-webkit-keyframes retreat-shrink {
  15% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001); }
  30%, 80% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25); }
  100% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001); } }

@keyframes retreat-shrink {
  15% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001); }
  30%, 80% {
    -webkit-transform: scale(0.25);
    transform: scale(0.25); }
  100% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001); } }

@-webkit-keyframes retreat-stretch {
  0%, 10% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  15% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  25% {
    -webkit-transform: scaleY(4) rotate(calc(var(--distance-sine) * 65deg));
    transform: scaleY(4) rotate(calc(var(--distance-sine) * 65deg)); }
  35% {
    -webkit-transform: scaleY(0.8) rotate(calc(var(--distance-sine) * -25deg));
    transform: scaleY(0.8) rotate(calc(var(--distance-sine) * -25deg)); }
  40% {
    -webkit-transform: scaleY(1.1) rotate(calc(var(--distance-sine) * 15deg));
    transform: scaleY(1.1) rotate(calc(var(--distance-sine) * 15deg)); }
  44% {
    -webkit-transform: scaleY(0.98) rotate(calc(var(--distance-sine) * -10deg));
    transform: scaleY(0.98) rotate(calc(var(--distance-sine) * -10deg)); }
  48% {
    -webkit-transform: scaleY(1.01) rotate(calc(var(--distance-sine) * 5deg));
    transform: scaleY(1.01) rotate(calc(var(--distance-sine) * 5deg)); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes retreat-stretch {
  0%, 10% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  15% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  25% {
    -webkit-transform: scaleY(4) rotate(calc(var(--distance-sine) * 65deg));
    transform: scaleY(4) rotate(calc(var(--distance-sine) * 65deg)); }
  35% {
    -webkit-transform: scaleY(0.8) rotate(calc(var(--distance-sine) * -25deg));
    transform: scaleY(0.8) rotate(calc(var(--distance-sine) * -25deg)); }
  40% {
    -webkit-transform: scaleY(1.1) rotate(calc(var(--distance-sine) * 15deg));
    transform: scaleY(1.1) rotate(calc(var(--distance-sine) * 15deg)); }
  44% {
    -webkit-transform: scaleY(0.98) rotate(calc(var(--distance-sine) * -10deg));
    transform: scaleY(0.98) rotate(calc(var(--distance-sine) * -10deg)); }
  48% {
    -webkit-transform: scaleY(1.01) rotate(calc(var(--distance-sine) * 5deg));
    transform: scaleY(1.01) rotate(calc(var(--distance-sine) * 5deg)); }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

.headline--sway .char {
  --dur: 1s;
  --del: calc(var(--char-index) * -0.0125s);
  --name: sway;
  --td: linear;
  --dir: alternate; }

@-webkit-keyframes sway {
  from {
    -webkit-transform: skew(-15deg) rotateX(10deg);
    transform: skew(-15deg) rotateX(10deg); }
  to {
    -webkit-transform: skew(15deg) rotateX(-10deg);
    transform: skew(15deg) rotateX(-10deg); } }

@keyframes sway {
  from {
    -webkit-transform: skew(-15deg) rotateX(10deg);
    transform: skew(-15deg) rotateX(10deg); }
  to {
    -webkit-transform: skew(15deg) rotateX(-10deg);
    transform: skew(15deg) rotateX(-10deg); } }

.headline--tumble .char {
  --dur: 0.8s;
  --name: bounce;
  --del: calc(var(--char-index) * -0.125s);
  --td: ease;
  color: transparent;
  overflow: visible; }
  .headline--tumble .char:after {
    -webkit-animation: tumble var(--dur) linear infinite;
    animation: tumble var(--dur) linear infinite;
    color: black;
    visibility: visible;
    z-index: 2; }

@-webkit-keyframes bounce {
  25% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%); } }

@keyframes bounce {
  25% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%); } }

@-webkit-keyframes tumble {
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes tumble {
  60% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
